.ul-text-color-primary {
  color: $color-primary !important;
}

.ul-background-color-white {
  background-color: $color-white !important;
}

.ul-box-shadow {
  box-shadow: 0px 2px 9px 0px #00000038 !important;
  ;
}

.ul-font-weight-700 {
  font-weight: 700 !important;
}

.ul-height-products-284px {
  height: 284px !important;
}
