// COLORS
$color-primary: #f71963;
$color-white: #ffffff;
$color-black: #000000;
$color-grey1: #2a2a2a;
$color-grey2: #3b3b3b;
$color-grey3: #3f3f40;
$color-grey4: #4e4e4e;
$color-grey5: #9f9f9f;
$color-grey6: #f7f5f2;
$color-grey7: #f0f0f0;


// TYPOGRAPHY
$font-size: 1rem;
$font-family: 'Poppins', sans-serif;
