.about {

  height: 224px;
  width: 149px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    color: $color-white;
  }

  &__list {

    &-item {
      font-size: 12px;
      line-height: 32px;
      color: $color-white;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &__vector {

    margin-top: 3rem;

    &-item:not(:first-child) {
      cursor: pointer;
      margin: 0 .5rem;
    }
  }

}
