.payment {

  &__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    color: $color-white;
    text-transform: uppercase;
  }

  &__container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-items {
      margin: 1rem 1.5rem;

      &:nth-child(3n + 1) {
        margin: 1rem 1.5rem 1rem 0;
      }
    }
  }
}
