*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

button {
  cursor: pointer;
  border: none; }

a,
a:link,
a:visited {
  cursor: pointer; }

ul {
  list-style: none; }

hmtl {
  font-size: 62,5%; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300; }

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit; }

a,
a:link,
a:visited {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit; }

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit; }

.ul-text-color-primary {
  color: #f71963 !important; }

.ul-background-color-white {
  background-color: #ffffff !important; }

.ul-box-shadow {
  box-shadow: 0px 2px 9px 0px #00000038 !important; }

.ul-font-weight-700 {
  font-weight: 700 !important; }

.ul-height-products-284px {
  height: 284px !important; }

.list__header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1280px;
  height: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); }
  .list__header-li {
    text-transform: uppercase;
    font-size: 12px;
    color: #9f9f9f;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center; }

.btn__banner, .btn__banner:link, .btn__banner:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: all .2s;
  border: none;
  min-width: 227px;
  min-height: 60px;
  padding: 15px 60px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #ffffff;
  background-color: #f71963;
  margin-top: 35px; }
  .btn__banner:hover, .btn__banner:link:hover, .btn__banner:visited:hover {
    background-color: #ee0855; }

.btn__footer, .btn__footer:link, .btn__footer:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: all .2s;
  border: none;
  width: 62px;
  height: 45px;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #f71963;
  text-transform: uppercase; }
  .btn__footer:hover, .btn__footer:link:hover, .btn__footer:visited:hover {
    background-color: #ee0855; }

.btn__partners, .btn__partners:link, .btn__partners:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all .2s;
  border: none;
  width: 131px;
  height: 48px;
  margin-top: 1.2rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #f71963;
  text-transform: uppercase; }
  .btn__partners:hover, .btn__partners:link:hover, .btn__partners:visited:hover {
    background-color: #ee0855; }

.btn__products, .btn__products:link, .btn__products:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: all .2s;
  border: none;
  width: 245px;
  height: 44px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #f71963;
  text-transform: uppercase; }
  .btn__products:hover, .btn__products:link:hover, .btn__products:visited:hover {
    background-color: #ee0855; }

.productsRelation {
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 45px;
  color: #f71963;
  text-align: center;
  margin-top: 4rem; }
  .productsRelation::after, .productsRelation::before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: #9f9f9f; }
  .productsRelation::after {
    margin: 0 25rem 0 3rem; }
  .productsRelation::before {
    margin: 0 3rem 0 25rem; }

.pagination__right {
  position: absolute;
  right: -6%;
  cursor: pointer; }

.pagination__left {
  position: absolute;
  left: -6%;
  cursor: pointer; }

.footer {
  margin-top: 10rem;
  min-height: 325px;
  background-color: #2a2a2a;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  display: flex; }
  .footer__container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.copyright {
  background-color: #2a2a2a;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 93px; }
  .copyright__container {
    width: 698px; }
    .copyright__container-text {
      font-size: 10px;
      font-weight: 400;
      color: #ffffff;
      line-height: 13px;
      text-transform: uppercase; }
  .copyright__logo-img {
    margin: 0 1rem; }

.footerPromotion {
  width: 380px;
  height: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 36px; }
  .footerPromotion__subtitle {
    color: #3f3f40;
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase; }
  .footerPromotion__title {
    color: #3f3f40;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase; }
  .footerPromotion__text {
    color: #3f3f40;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    margin-top: 1.2rem; }
  .footerPromotion__form {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footerPromotion__form-input {
      width: 230px;
      height: 45px;
      margin-top: 1.2rem;
      padding: 13px 25px;
      border-radius: 4px;
      border: none;
      border: 1px solid #3b3b3b;
      text-transform: uppercase;
      color: #c0c0c0;
      font-size: 12px; }
      .footerPromotion__form-input:focus {
        outline: none; }

.information {
  height: 236px;
  width: 150px; }
  .information__title {
    font-size: 13px;
    line-height: 19.5px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase; }
  .information__list {
    display: flex;
    flex-direction: column; }
    .information__list-item {
      font-weight: 300;
      font-size: 12px;
      cursor: pointer;
      line-height: 32px;
      text-transform: uppercase;
      color: #ffffff; }

.payment__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  color: #ffffff;
  text-transform: uppercase; }

.payment__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .payment__container-items {
    margin: 1rem 1.5rem; }
    .payment__container-items:nth-child(3n + 1) {
      margin: 1rem 1.5rem 1rem 0; }

.about {
  height: 224px;
  width: 149px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .about__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    color: #ffffff; }
  .about__list-item {
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer; }
  .about__vector {
    margin-top: 3rem; }
    .about__vector-item:not(:first-child) {
      cursor: pointer;
      margin: 0 .5rem; }

.marketing {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  gap: 5%; }
  .marketing__container {
    display: flex;
    padding: .5rem; }
    .marketing__container-vector {
      margin-right: .7rem; }
    .marketing__container-text {
      font-weight: 500;
      color: #9f9f9f; }
      .marketing__container-text-colored {
        font-weight: 600;
        color: #f71963; }

.search {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  height: 72px;
  max-width: 1280px;
  align-items: center;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }
  .search__logo {
    cursor: pointer; }
  .search__form-container {
    width: 657px;
    height: 48px;
    position: relative; }
    .search__form-container-input {
      width: 100%;
      height: 100%;
      background-color: #f7f5f2;
      border: none;
      border-radius: 10px;
      color: #9f9f9f;
      font-weight: 500;
      padding: 14px 25px;
      font-size: 14px; }
      .search__form-container-input:focus {
        outline: none; }
    .search__form-container-button {
      cursor: pointer;
      position: absolute;
      top: 21%;
      right: 3%; }
  .search__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25%; }
    .search__list-icons {
      cursor: pointer; }

.promotion {
  max-width: 100%;
  height: 395px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), #ffffff url("../assets/header/banner.png") no-repeat center center;
  background-size: cover;
  padding: 3rem 22rem; }
  .promotion__container {
    width: 50%; }
  .promotion__h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    line-height: 72px; }
  .promotion__h3 {
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    line-height: 54px; }

.categories {
  width: 1277px;
  height: 174px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem; }
  .categories__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .categories__container-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 128px;
      border-radius: 10px;
      background-color: #f4f4f4;
      box-shadow: 0px 4px 11px 0px #00000021;
      cursor: pointer; }
    .categories__container-text {
      margin-top: 1.2rem;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #4e4e4e; }

.productsList {
  width: 1264px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  .productsList__item {
    border: 1px solid #BDBDBD;
    min-width: 211px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer; }

.partners {
  width: 1264px;
  display: flex;
  margin: 6rem auto;
  justify-content: space-evenly; }
  .partners__container {
    width: 574px;
    height: 350px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), #ffffff url("../assets/main/parceiros_banner.png") no-repeat center center;
    background-size: cover;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem; }
    .partners__container-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      color: #ffffff; }
    .partners__container-text-container {
      max-width: 300px; }
      .partners__container-text-container-paragraph {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff; }

.brands__title {
  text-align: center;
  margin: 3rem 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #f71963; }

.brands__container {
  display: flex;
  width: 1277px;
  margin: 0 auto;
  justify-content: space-between; }

.brands__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.13);
  position: relative; }
  .brands__box-img {
    cursor: pointer; }
    .brands__box-img-btn {
      position: absolute;
      top: 35%;
      right: -10%;
      cursor: pointer; }

.product {
  border-radius: 10px;
  box-shadow: 0px 3px 19px 0px #00000038;
  width: 270px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  padding: 2px 14px; }
  .product__title {
    font-size: 15px;
    font-weight: 300;
    line-height: 22.5px;
    color: #4e4e4e;
    margin: .5rem 0; }
  .product__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin: .5rem 0;
    text-decoration: line-through; }
    .product__price-promotion {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #3F3F40;
      margin: .5rem 0; }
    .product__price-parcel {
      line-height: 18px;
      color: #3F3F40;
      font-weight: 400;
      font-size: 12px;
      margin: .5rem 0; }
  .product__freight {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #F71963;
    margin: .5rem 0; }

.home__see-all {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #3f3f40;
  cursor: pointer; }

.home__products {
  width: 1277px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3%;
  position: relative; }

.home__opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20; }

.home__popup {
  height: 300px;
  width: 769px;
  position: fixed;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .home__popup-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: #041E50;
    cursor: pointer; }
  .home__popup-content-title {
    letter-spacing: 5%;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #041E50;
    margin: .5rem; }
  .home__popup-content-promotion {
    letter-spacing: 5%;
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
    color: #041E50;
    margin: .5rem; }
  .home__popup-content-description {
    letter-spacing: 5%;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    color: #041E50;
    margin: .5rem; }
  .home__popup-content-details {
    letter-spacing: 5%;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #041E50;
    margin: .5rem; }
