.btn {

  &__banner {

    &,
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      transition: all .2s;
      border: none;
      min-width: 227px;
      min-height: 60px;
      padding: 15px 60px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      color: $color-white;
      background-color: $color-primary;
      margin-top: 35px;

      &:hover {
        background-color: darken($color-primary, 5%);
      }
    }
  }

  &__footer {

    &,
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      transition: all .2s;
      border: none;
      width: 62px;
      height: 45px;
      margin-top: 1.2rem;
      margin-left: 1.2rem;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      color: $color-white;
      background-color: $color-primary;
      text-transform: uppercase;

      &:hover {
        background-color: darken($color-primary, 5%);
      }
    }
  }

  &__partners {

    &,
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      border-radius: 10px;
      transition: all .2s;
      border: none;
      width: 131px;
      height: 48px;
      margin-top: 1.2rem;
      cursor: pointer;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;
      text-align: center;
      color: $color-white;
      background-color: $color-primary;
      text-transform: uppercase;

      &:hover {
        background-color: darken($color-primary, 5%);
      }
    }
  }


}
